- load_javascript_class "LeagueChartsPage", matchups: @matchups, teams: @teams, weeks: [@league.weeks_in_a_season, @league.current_week - 1].min

= render "leagues/navigation"

.page-header
  %h2
    Charts

= week_1_alert

#charts
  %p
    Calculating records...


