- load_javascript_class "LeagueParityPage", matchups: @matchups, teams: @teams

= render "leagues/navigation"

.page-header
  %h2
    Parity
    %small It all comes full circle

.well
  Team A beat Team B, who beat Team C... who beat Team A.

- if @league.start_week != 1
  .alert.alert-danger
    Sorry, this tool does not work for leagues that do not start in week 1.

#parity
  %p
    Calculating Parity...

