- load_javascript_class "LeagueParityPage", matchups: @matchups, teams: @teams

= render "leagues/navigation"

.page-header
  %h2
    Parity
    %small It all comes full circle

.well
  Team A beat Team B, who beat Team C... who beat Team A.

#parity
  %p
    Calculating Parity...

