- load_javascript_class "LeagueParityPage", matchups: @matchups, teams: @teams, workerPath: asset_path("parity_worker.js")

= render "leagues/navigation"

.page-header
  %h2
    Parity
    %small AKA, the Circle of Suck.

.well
  Team A beat Team B, who beat Team C... who beat Team A.

= week_1_alert

#parity
  %p Calculating Parity...
#parity-message

