- load_javascript_class "LeaguePlayoffsPage", matchups: @matchups, teams: @teams, weeks: @league.weeks_in_a_season

= render "leagues/navigation"

.page-header
  %h2
    Playoff and Record Scenarios
    %small #{@league.weeks_remaining} games remaining. #{@league.num_playoff_teams} teams in playoffs.

#playoffs-outcomes
  %p
    Calculating records...

.page-header
  %h2
    Matchups
    %small Select the winners

#playoffs-matchups
  %p
    Calculating matchups...
