.row
  %h1 Fantasy Football - Post Draft Visualization Board
  %p
    This is a simple tool that gives a visualization of your draft. Colors represent the difference between where a player was picked vs their ranking, to help see which picks were good deals and which were reaches. You can compare draft picks against Yahoo's Average Draft Pick, or to #{link_to "Expert Consensus Rankings", "http://www.fantasypros.com/nfl/rankings/consensus-cheatsheets.php"} in either PPR or standard.

  - if current_user
    %p
      %a.button{href: leagues_path} Look at your leagues now »
  - else
    %p
      By signing into yahoo, you will allow us to automatically import your draft results, and compare them to Yahoo's Average Draft Pick, and Expert Consensus Rankings.
    %p
      %a.button{href: "/auth/yahoo"} Sign in with yahoo »

  %h3 Example Post Draft Visualization Boards
  %table.table
    %thead
      %tr
        %th Name
        %th Number of teams
    %tbody
      - @leagues.each do |league|
        %tr
          %td
            = link_to league.name, draft_board_league_path(league)
          %td
            = league.num_teams


