.row
  %h1 Fantasy Football - Post Draft Visualization Board
  %p
    Right now this is just a simple tool that shows your leagues draft picks vs ECR.
  - if current_user
    %p
      %a.button{href: leagues_path} Look at your leagues now »
  - else
    %p
      By signing into yahoo, you will allow us to automatically import your draft results, and compare them to Yahoo's Average Draft Pick, and Expert Consensus Rankings.
    %p
      %a.button{href: "/auth/yahoo"} Sign in with yahoo »

  %h3 Example Post Draft Visualization Boards
  %table.table
    %thead
      %tr
        %th Name
        %th Number of teams
    %tbody
      - @leagues.each do |league|
        %tr
          %td
            = link_to league.name, draft_board_league_path(league)
          %td
            = league.num_teams


