#charts {
  svg {
    .axis path, .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }

    .axis .tick line {
      opacity: 0.2;
    }

    .legend {
      cursor: pointer;
    }
  }
}
